{{ template "header.gohtml" .}}
<br>
<div class="jumbotron container center">
    <h2>Anonymous Stories</h2>
    <p>This is a social-media-like website, for writers who want to be seen and improve their skills.</p>
    <p>You can register for free and get an opportunity to share your written and get feedback from other book lovers.</p>
    <h3>Made By Reza Shoja</h3>

</div>
{{ template "footer.gohtml" .}}